*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 
    font-family: 'Roboto', sans-serif;
  

}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    z-index: 1;
    top: 70px;
    background-color: #fff;
    border-bottom: 4px solid rgb(121, 4, 164, 0.81);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
   
}
.foto{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mifoto{
    width: 82%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}
.titulo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    text-align: center;
    font-size: x-large;
    font-weight: 400;
}
h2{
    text-align: center;
}
.boton{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    /* margin-top:70px;
    width: 100%;
    height: 100%;
    
    overflow: auto;
    padding: 8px; */
    /* Cambios para que los mensajes aparezcan todos en la pantalla sin recortes y en la principal */
    margin-top:65px;
    width: 100%;
    height: 100%;

    overflow: auto;
    padding: 16px;
    margin-bottom: 8px;
}

.mensaje{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   position: fixed;
   
    z-index: 1;
    bottom: 65px;
    
}
.input{
    width: 80%;
    height: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    
    
    
    

}
.botonenviar{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color:#ce5557a2 ; */
    
    border: 1px solid rebeccapurple ;
    
   
}
.input2{
    width: 100%;
    height: 100%;
    border: none;
    /* background-color:#CE5558 ; */
    background-color: white;
    padding-left: 2%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    border: 1px solid #CE5558 ;
}
.input2::placeholder{
    text-align:start;
    font-size: medium;
}
.mienviar{
    width: 100%;
    height: 100%;
    border: none;
    /* background-image: url(../../../assets/img/enviar.png); */
    background-color:rgb(121, 4, 164);
    

    
}
.iconoenviar{
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
}

.botonvolver{
    width: 100%;
    height: 100%;
    border: none;
   background-color: transparent;
   padding-bottom: 6px;
}
.volver{
    height: 90%;
    background-size: contain;
}
.creador{
    max-width: 70%;
    min-height: 50%;
    border-radius: 3px;
    border:1px solid #E85D57;
    font-size:medium;
    bottom: 20px;
    position: absolute;
    left: 0;
    padding: 8px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
.usuario{
    max-width: 70%;
    min-height: 50%;
    border-radius: 3px;
    border:1px solid #73278F;
  right:  0;
  font-size: medium;
    bottom: 20px;
  position: absolute;
  padding: 8px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.mensajenviado{
    width: 100%;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
   
    
    
}
