/* Hijo */
*{
    font-family: 'Roboto', sans-serif;
}

.card1{
    border: 1px solid rgba(253, 107, 91, 1);
    margin-top: 5%;
    margin-bottom: 5%;
    /* text-align: center; */
}
a{
    text-decoration: none;
    color: black; 
}
.card__titulo{
    text-align: center;
    /* padding-bottom: 3%; */
}
.card__informacion{
    font-size: smaller;
}
.card__callee{
    border-bottom: 1px solid #eee;
}
img{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border: 2px solid #eee;
}