<mat-card class="card1">
    <!-- on-click=ir a la card nueva(pipicanes.id_pipican) -->
    <a class="botonCard" routerLink="">
        <div class="tituloPadre">
            <img mat-card-image class="tituloImagen" src="{{cardsPadre.imagen}}">
            <div class="tituloTexto">
                <mat-card-title class="card__titulo">{{cardsPadre.titulo}}</mat-card-title>
                <mat-card-subtitle class="card__titulo">creador</mat-card-subtitle>
            </div>
        </div>
        <div class="imagen">
            <img mat-card-image src="{{cardsPadre.imagen}}">
        </div>
        <mat-card-subtitle class="card__callee">{{cardsPadre.tipo}}</mat-card-subtitle>
        <mat-card-content class="card__calle">📍 {{cardsPadre.localizacion}}</mat-card-content>
        <!-- Mirar la distancia -->
        <mat-card-content class="card__distancia">🚶 {{cardsPadre.fecha}}</mat-card-content>
        <mat-card-content class="card__distancia">🚶 {{cardsPadre.maxPerros}}</mat-card-content>
        <mat-card-content class="card__informacion">📲 Para más información</mat-card-content>
    </a>
</mat-card>  
