<mat-card class="card1">
    <!-- on-click=ir a la card nueva(actividad.id_actividad) -->
    <a class="botonCard" on-click="getCard(cardsPadre1)">
        <div class="tituloPadre">
            <div class="actividadImagen">
                <img class="tituloImagen" src="{{cardsPadre1.imagen}}">
            </div>
            <div class="tituloTexto">
                <div class="card__titulo">{{cardsPadre1.titulo}}</div>
                <!-- <div class="card__creador">Creador</div> -->
            </div>
        </div>
        <div class="imagen">
            <img mat-card-image src="{{cardsPadre1.imagen}}">
        </div>
        <div class="tipo__lugar">
            <mat-card-content class="card__calle">🐕‍🦺 {{cardsPadre1.titulo}}</mat-card-content>
            <mat-card-content class="card__calle">📍 {{cardsPadre1.localizacion}}</mat-card-content>
        </div>
        <div class="fecha__disponible">
            <div class="card__fecha">
                <mat-card-content class="card__fecha--date">📅 {{cardsPadre1.fecha | date}}</mat-card-content>
                <mat-card-content class="card__informacion">📲 Para más información</mat-card-content>
            </div>
            <div class="card__disponible">
                <!-- Poner aquí el número de plazas disponibles -->
                <div class="disponible__numero">{{cardsPadre1.disponibles}}</div>
                <div class="texto__disponible">
                    <div class="texto__plazas">Plazas</div>
                    <div class="texto__plazas">Disponibles</div>
                </div><!-- <div class="">Disponibles</div> -->
            </div>
        </div>
    </a>
</mat-card>  
