<div class="contenedor">
  <h3 class="titulo">Estas son las preguntas más frecuentes de nuestros usuarios :</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
        
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿Puedo publicar mi propia actividad?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En nuestro apartado de actividades podrás generar la tuya propia o apuntarte a una 

              ya creada.</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿Puedo modificar mi perfil de usuario una vez registrado?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En el apartado "Perfil" de tu menú lateral podrás acceder a la opción modificar,

              la cual te permitirá actualizar tus datos de perfil.</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿cómo puedo saber más acerca de las actividades?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Accediendo a la tarjeta de la actividad, tendrás detallada la información sobre la actividad,

              además una vez apuntado podrás acceder a un chat con el creador de la actividad para que te informe más
             
              sobre la misma.
             </div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿Puedo saber cuáles son los mejores pipicanes de mi zona ?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nuestra app te mostrará los más cercanos a tu ubicación y te mostrará la media de puntuación 

              que tiene cada uno de ellos .</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿Cómo puedo resolver más dudas técnicas acerca de la app?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En el apartado de contacto podrás enviar tus dudas sobre nuestra plataforma,

              además en el apartado "sobre nosotros" podrás ver información sobre nuestros desarrolladores
             
              y su contacto.</div>
          </div>
        </div>
      </div>
   

</div>   

