
<div class="contenedor">

  <h3 class="titulo">¿Tienes preguntas? Te dejamos algunas de las preguntas más frecuentes:</h3>

  <div class="accordion accordion-flush" id="accordionFlushExample">

      <div class="accordion-item">
      
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿Puedo publicar mi propia actividad en LaikaMapp?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            En nuestro apartado de actividades podrás generar tu propia actividad o apuntarte a una ya creada
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ¿Puedo modificar mi perfil de usuario de LaikaMapp?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">En el apartado "Perfil" de tu menú lateral podrás modificar los datos del perfil. Tendrás que poner la contraseña para validar los cambios</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            ¿Cómo puedo saber más acerca de las actividades?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Accediendo a la tarjeta de la actividad, tendrás información más detallada. O puedes contactar con el creador desde el chat!
            </div>
        </div>
      </div>
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            ¿Puedo saber cuáles son los mejores pipicanes?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Nuestra app te mostrará los pipicanes mejor valorados por los usuarios de la aplicación</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            ¿Cómo puedo resolver más dudas acerca de la app?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">En el apartado de contacto podrás enviar tus dudas,

            además en el apartado "sobre nosotros" podrás ver la información sobre nuestros desarrolladores, con su Linkedin para contactar con ellos y su GitHub</div>
        </div>
      </div>
  </div>

</div>


