
    <div class="header">
        
        <div class="izquierda">
           <a routerLink="/home"> <h1>LaikaMapp</h1></a>
        </div>
        <div class="derecha">
        
            <button mat-button [matMenuTriggerFor]="beforeMenu" class="usuario"><img  class="foto" src="../../../assets/img/perro.jpg" alt=""></button>
            <mat-menu #beforeMenu="matMenu"  xPosition="before"   >
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="/perfil">Perfil</a></button>
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="/apuntadas">Apuntadas</a></button>
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="/creadas">Creadas</a></button>
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="/faqs">FaQs</a></button>
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="/contacto">Contacto</a></button>
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="about-us">Sobre Nosotros</a></button>
                <button mat-menu-item class="desplegable" style="width: 200px;"><a routerLink="/login" (click)="cerrarSesion()" >Cerrar Sesión</a></button>
            </mat-menu>

           
        </div>
</div>


