
    <div class="header">
        
        <div class="izquierda">
            <h1>LaikaMapp</h1>
        </div>
        <div class="derecha">
            
                 <!-- <button class="usuario">
                <img  class="foto" src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" alt="">
            </button> --> 
            <div class="usuario">
                <button class="usuario">
                <img  class="foto" src="../../../assets/img/usuario.png" alt="">
            
                </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
            </div>
             
        
   
          

           
        </div>
</div>


