<div class="contenedor">

    <div class="formContainer row">

        <form id="form"  #userForm="ngForm" (ngSubmit)="crear()">

             <div class="form-group mt-2 w-100">
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" 
                [(ngModel)]="actividad.titulo" #tituloCrear="ngModel"
                [ngClass]="{'is-invalid': (tituloCrear.dirty || tituloCrear.touched) && tituloCrear.invalid }"
                required
                >
                <div class="invalid-feedback" *ngIf="(tituloCrear.dirty || tituloCrear.touched) && tituloCrear.invalid">
                    
                    <div *ngIf="tituloCrear.errors['required']">
                        <p>
                            El titulo es obligatorio
                        </p>
                    </div>

                </div>

            </div>

            <div class="form-group mt-2 w-100">
                
                <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo"
                [(ngModel)]="actividad.tipo" #tipoCrear="ngModel"
                [ngClass]="{'is-invalid': (tipoCrear.dirty || tipoCrear.touched) && tipoCrear.invalid }"
                required
                >
                <div class="invalid-feedback" *ngIf="(tipoCrear.dirty || tipoCrear.touched) && tipoCrear.invalid">
                    
                    <div *ngIf="tipoCrear.errors['required']">
                        <p>
                            El tipo es obligatorio
                        </p>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="form-group mt-2 w-100">
                
                <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha"
                [(ngModel)]="actividad.fecha" #fechaCrear="ngModel"
                [ngClass]="{'is-invalid': (fechaCrear.dirty || fechaCrear.touched) && fechaCrear.invalid }"
                required
                >
                <div class="invalid-feedback" *ngIf="(fechaCrear.dirty || fechaCrear.touched) && fechaCrear.invalid">
                    
                    <div *ngIf="fechaCrear.errors['required']">
                        <p>
                            La fecha es obligatoria
                        </p>
                    </div>
                    
                </div>
                
            </div>
            
            
            <div class="form-group mt-2 w-100">
                
                <input type="text" class="form-control" id="localizacion" name="localizacion" placeholder="Localización"
                [(ngModel)]="actividad.localizacion" #localizacionCrear="ngModel"
                [ngClass]="{'is-invalid': (localizacionCrear.dirty || localizacionCrear.touched) && localizacionCrear.invalid }"
                required
                >
                <div class="invalid-feedback" *ngIf="(localizacionCrear.dirty || localizacionCrear.touched) && localizacionCrear.invalid">
                    
                    <div *ngIf="localizacionCrear.errors['required']">
                        <p>
                            La localización es obligatoria
                        </p>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="form-group mt-2 w-100">
                
                <input type="number" class="form-control" id="maxPerros" name="maxPerros" placeholder="Max. Perros"
                [(ngModel)]="actividad.maxPerros" #perrosCrear="ngModel"
                [ngClass]="{'is-invalid': (perrosCrear.dirty || perrosCrear.touched) && perrosCrear.invalid }"
                required
                >
                <div class="invalid-feedback" *ngIf="(perrosCrear.dirty || perrosCrear.touched) && perrosCrear.invalid">
                    
                    <div *ngIf="perrosCrear.errors['required']">
                        <p>
                            La cantidad máxima de perros es obligatoria
                        </p>
                    </div>
                    
                </div>
                
            </div>

            <div class="form-group mt-2 w-100">
                
                <textarea cols="30" rows="5" class="form-control" id="info" name="info" placeholder="Información..."
                [(ngModel)]="actividad.informacion" #infoCrear="ngModel"
                [ngClass]="{'is-invalid': (infoCrear.dirty || infoCrear.touched) && infoCrear.invalid }"
                required
                >
                </textarea>
                <div class="invalid-feedback" *ngIf="(infoCrear.dirty || infoCrear.touched) && infoCrear.invalid">
                    
                    <div *ngIf="infoCrear.errors['required']">
                        <p>
                            La información es obligatoria
                        </p>
                    </div>
                    
                </div>
                
            </div>

            
            <app-button [valor]="'Crear'"></app-button>
        </form>

    </div>



</div>

