<div class="card">

    <div class="card__ubicacion">

        <div class="card__titulo">{{ card.titulo }}</div>
        
        <!-- <img src="{{detalle.imagen}}" alt="Imagen"> -->

        <div class="card__detalle">
            <div class="card__dierccion linea">📍 {{ card.localizacion }}</div>
            <div class="card__distancia linea">📅 {{ card.fecha | date }}</div>
            <div class="card__hora linea">⌚ {{ card.hora }} Hrs.</div>
            <div class="card__precio linea">💶 {{ card.precio }} €</div>
        </div>

        <div class="card__informacion">
            <div class="card__dierccion linea">Descripción:</div>
            <div class="card__texto">{{ card.informacion }} </div>
        </div>
        
    </div>

    
    
    <div *ngIf="this.apuntar == true">
        <button class="btn" class="btn mt-4"  (click)="apuntadas(card.id_actividades)" *ngIf="card.disponibles>0 && card.disponibles >= this.usuarioService.usuario1.num_perros">Apuntarme</button>

        <button type="submit" class="btn mt-4" [disabled] *ngIf="this.usuarioService.usuario1.num_perros > card.disponibles || 0 >= card.disponibles" routerLink="/cards-actividades">Plazas no disponibles</button>
    </div>
    <button type="submit" class="btn mt-4" [disabled] *ngIf="this.apuntar==false" routerLink="/cards-actividades">Ya te has apuntado</button>

</div>

