<div class="card">

    <div class="card__ubicacion">

        <div class="card__titulo">{{ card.titulo }}</div>
        
        <!-- <img src="{{detalle.imagen}}" alt="Imagen"> -->

        <div class="card__detalle">
            <div class="card__dierccion linea">📍 {{ card.localizacion }}</div>
            <div class="card__distancia linea">🚶 Dist.: 150 m.</div>
            <div class="card__hora linea">⌚ {{ card.hora }} Hrs.</div>
            <div class="card__precio linea">💶 {{ card.precio }} €</div>
        </div>

        <div class="card__informacion">
            <div class="card__texto">{{ card.informacion }} </div>
        </div>
        
    </div>

    
    

    <app-button [valor]="'Apuntarme'" (click)="apuntadas(card.id_actividades)"></app-button>

</div>

