*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top right, #FD6B5B, rgba(121, 4, 164, 0.8));
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logoContainer{
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein{
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 50%;
    }
}

.logoContainer img{
    width: 28%;
    background-color: transparent;
}

.formContainer{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;

}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 8%;
    margin-bottom: 8%; 
}

#form{
    width: 90%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input[type=text],
input[type=password] {
    padding-left: 1%;
    padding-right: 1%;
    height: 40px;

    border: 1px solid #430038;
    margin-bottom: 10px;
}

.text{
    margin-top: 2%;
    font-size: 15px;
}

.text p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}

.text a{
    display: block;
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 0;
    color: #430038;
    text-decoration: none;
}





