<div class="contenedor">

    <div class="logoContainer">

        <img src="../../../assets/imgs/logo.png" alt="">

    </div>

    <div class="formContainer row">
        
        <h1 class="title col-12">
            LaikaMapp
        </h1>

        <form id="form">
            
            <input type="text" class="form-control" id="usuario" placeholder="Usuario">
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
            
            <app-button [valor]="'Login'" ></app-button>
        </form>

    </div>
            
  
  
</div>

