<div class="contenedor">
    <div class="header">
        falso
    </div>
    <div class="row">
        <div class="col">
           <div class="form-container">
            <h1>
                Perfil
            </h1>
        
                    <form>
                        <div class="mb-3">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control" id="correo" placeholder="Correo">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control" id="perros" placeholder="Nº de Perros">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="password" placeholder="Nueva  Password">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="password" placeholder="Repetir Password">
                        </div>
                        
                         <button type="submit" class="btn btn-primary">Actualizar</button>
                        
                    </form>
            </div>
        </div>
    </div>
    <div class="paco">
        falso
    </div>
</div>
