/* *{
    padding:0;
    margin :0;
    box-sizing: border-box;
   

}
.contenedor{
    width: 100%;
    height: 100%;
  

}

/* .row
{
    display: flex;

} */

/* .col
{
    
    display: flex;
   flex-direction: column;
   align-items: center;

} */
/* .form-container
{
    width: 100%;
    height: 80%;
    z-index: 999; 
    margin-top: 6%;
}

form
{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}


input
{
  
  
    border-radius: 3px;
    backdrop-filter: blur(4px);
    padding-left: 1%;
    padding-right: 1%;
    height: 40px;
    margin-bottom: 6px;
    border: 1px solid #430038;
}




 */ 
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(to top right, #FD6B5B, rgba(121, 4, 164, 0.8)); */
    /* gap: 10px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.logoContainer{
    width: 100%;
    height: 15%;
    margin: 0 auto;
    padding-top:10px ;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logoContainer img{
    width: 16%;
    background-color: transparent;
}

.formContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    padding-bottom: 10px;

}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 5%; 
}

#form{
    width: 90%;
    height: 80%;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input[type=text],
input[type=password],
input[type=email],
input[type=number]{
    padding-left: 1%;
    padding-right: 1%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #430038;
}
.btn{
    background: rgba(121, 4, 164, 0.8);
    width: 200px;
    height: 40px;
    color: #fff;
}




