/* Hijo */
*{
    font-family: 'Roboto', sans-serif;
}

.card1{
    border: 1px solid rgb(121, 4, 164, 0.81);
    margin-top: 5%;
    margin-bottom: 5%;
    /* text-align: center; */
}
a{
    text-decoration: none;
    color: black; 
}
.card__titulo{
    font-size: large;
    font-weight: 400;
    text-align: center;
    padding-bottom: 3%;
    border-bottom: 2px solid #eee;
}
/* .card__informacion{
    font-size: smaller;
} */
.card__callee{
    border-bottom: 8px solid white;
}