<mat-card class="card1">
    <!-- on-click=ir a la card nueva(pipicanes.id_pipican) -->
    <a routerLink="" class="botonCard">
        <img mat-card-image src="{{cardsPadre.imagen}}">
        <mat-card-title class="card__titulo">{{cardsPadre.titulo}}</mat-card-title>
        <mat-card-subtitle class="card__callee"></mat-card-subtitle>
        <mat-card-content class="card__calle">📍 {{cardsPadre.calle}}</mat-card-content>
        <!-- Mirar la distancia -->
        <mat-card-content class="card__distancia">🚶 {{cardsPadre.distancia}}</mat-card-content>
        <mat-card-content class="card__informacion">📲 Para más información</mat-card-content>
    </a>
</mat-card>  
