<mat-card class="card1">
    <!-- on-click=ir a la card nueva(pipicanes.id_pipican) -->
    <a class="botonCard" routerLink="/pipicanCard">
        <img mat-card-image src="{{cardsPadre.imagen}}">
        <div class="card__titulo">{{cardsPadre.titulo}}</div>
        <div class="card__callee"></div>
        <mat-card-content class="card__calle">📍 {{cardsPadre.calle}}</mat-card-content>
        <!-- Mirar la distancia -->
        <mat-card-content class="card__distancia">🚶 {{cardsPadre.distancia}}</mat-card-content>
        <mat-card-content class="card__informacion">📲 Para más información</mat-card-content>
    </a>
</mat-card>  
