<div class="padre">
    <div class="header">Header
    </div>
    <div class="mapaPadre">
        <div class="mapa__hijo">
            <div class="mapa__hijo--mapa">
                <img class="imagenMapa" src="https://storage.googleapis.com/support-forums-api/attachment/thread-21950169-15070763766771596119.png" alt="Mapa">
            </div>
            <div class="mapa__hijo--buscador">
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputBuscar" placeholder="Buscar...">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">footer</div>
</div>