<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 <body>
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="form-container">
                <h1>
                    Contacto
                </h1>
            
                        <form>
                            <div class="mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                            </div>
                            <div class="mb-3">
                            <input type="text" class="form-control" id="Mensaje" placeholder="Apellidos">
                            </div>
                            
                             <button type="submit" class="btn btn-primary">Actualizar</button>
                            
                        </form>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
