
    <div class="contenedor">
        <!-- <div class="row"> -->
            <!-- <div class="col"> -->
               <div class="form-container">
                <h1 class="titulo">
                    Contacto
                </h1>
                <div class="form-group mt-2 w-100">
                
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                    <div class="invalid-feedback">
                        
                        <div>
                            <p>
                                El nombre es obligatorio
                            </p>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="input-group">
                    <!-- <span class="input-group-text">Mensaje</span> -->
                    <textarea class="form-control" aria-label="With textarea" id="mensaje" placeholder="Mensaje"></textarea>
                  </div>
               </div>
               <app-button [valor]="'Sign In'"></app-button>

               <!-- <button type="submit" class="btn mt-5">Enviar</button> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
