
    <div class="pie">
        <div class="actividades">
            <button class="boton">
                 <img class="icon" src="../../../assets/img/huella.png" alt="">
            </button>
       
    </div>
    <div class="chat">
        <button class="boton">
             <img class="icon" src="../../../assets/img/chat.png" alt="">
        </button>
    </div>
    <div class="mapa">
        <button class="boton">
        <img class="icon2" src="../../../assets/img/indicador.png" alt="">
        </button>
    </div>
    <div class="pipicanes">
        <button class="boton">
        <img class="icon" src="../../../assets/img/huella.png" alt="">
        </button>
    </div>
    </div>
    

