.pie{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fd6b5b ;

}
.actividades{
    width: 25%;
    height: 100%;
    /* border-right: 1px solid rgba(255, 255, 255, 0.349); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat{
    width: 25%;
    height: 100%;
    /* border-right: 1px solid rgba(255, 255, 255, 0.349); */
    /* border-left: 1px solid rgba(255, 255, 255, 0.349); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapa{
    width: 25%;
    height: 100%;
    /* border-right: 1px solid rgba(255, 255, 255, 0.349); */
    /* border-left: 1px solid rgba(255, 255, 255, 0.349); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pipicanes{
    width: 25%;
    height: 100%;
    /* border-left: 1px solid rgba(255, 255, 255, 0.349); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 50%;
    height: 50%;
  
    background-size: contain;
    background-repeat: no-repeat;


}
.icon3{
    width: 70%;
    height: 70%;
  
    background-size: contain;
    background-repeat: no-repeat;


}
.boton{
    border-style: none;
   
 
    height: 100%;
    width: 100%;
    background-color: transparent;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon2{
    width: 85%;
    height: 95%;
  
    background-size: contain;
    background-repeat: no-repeat;


}
.icon4{
    width: 35%;
    height: 35%;
  
    background-size: contain;
    background-repeat: no-repeat;


}