
    <div class="pie">
        <div class="actividades">
            <button class="boton">
                <a routerLink="/cards-actividades"> <img class="icon4" src="../../../assets/img/huella.png" alt=""></a>
                
            </button>
       
    </div>
    <div class="chat">
        <button class="boton">
            <a routerLink="/listado-chats"> <img class="icon" src="../../../assets/img/chat.png" alt=""></a>
            
        </button>
    </div>
    <div class="mapa">
        <button class="boton">
            <a routerLink="/home"> <img class="icon2" src="../../../assets/img/indicador.png" alt=""></a>
       
        </button>
    </div>
    <div class="pipicanes">
        <button class="boton">
            <a routerLink="/cards-pipicanes">  <img class="icon3" src="../../../assets/img/paseo.png" alt=""></a>
      
        </button>
    </div>
    </div>
    

