<div class="contenedor">
 <div class="card-contenedor">  


    <div class="card mb-3" >
        <div class="logo">
            <img  id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body3">
              <h4 class="card-title">Joshua De los Ángeles Daza</h4>
              <p class="card-text">Desarrollador web y móvil</p>
              <p class="card-text"><small class="text-muted">josh93delosangeles@gmail.com</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <a href="https://www.linkedin.com/in/joshua-de-los-angeles-aaa456244/" target="_blank"><img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="enlace linkedin"></a>
          <a href="https://github.com/JoshuaDelosAngeles" target="_blank"><img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="enlace github"></a>
          
          </div>
      </div>

      <div class="card mb-3" >
        <div class="logo">
            <img id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body">
              <h4 class="card-title">Roberto Rodríguez Díaz-Pavón</h4>
              <p class="card-text">Desarrollador web y móvil</p>
              <p class="card-text"><small class="text-muted">kirisse85@gmail.com</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <a href="https://www.linkedin.com/in/roberto-rodriguez-76567a185/" target="_blank">  <img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="enlace linkedin"></a>
          <a href="https://github.com/cardenalcopia" target="_blank"> <img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="enlace github"></a>
           
          </div>
      </div>

      <div class="card mb-3" >
        <div class="logo">
            <img id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body2">
              <h4 class="card-title">David García Barrantes</h4>
              <p class="card-text">Desarrollador web y móvil</p>
              <p class="card-text"><small class="text-muted">davidgarciab14@gmail.com</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <a href="https://www.linkedin.com/in/david-garc%C3%ADa-barrantes-03a88116a/" target="_blank"><img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="enlace linkedin"></a>
          <a href=" https://github.com/David14gb" target="_blank"><img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="enlace github"></a>
          
          </div>
      </div>

      <div class="card mb-3" >
        <div class="logo">
            <img id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
       
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body2">
              <h4 class="card-title">Andrés Cedeño Lopez</h4>
              <p class="card-text">Desarrollador web y móvil</p>
              <p class="card-text" id="email"><small class="text-muted">andresdalopez92@gmail.com</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <a href="https://www.linkedin.com/in/andrescedelopez/" target="_blank"><img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="enlace linkedin"></a>
          <a href="https://github.com/andres-david" target="_blank"> <img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="enlace github"></a>
         
          </div>
      </div>


</div>
