<div class="contenedor">
 <div class="card-contenedor">  


    <div class="card mb-3" >
        <div class="logo">
            <img  id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body">
              <h4 class="card-title">Joshua De los Ángeles</h4>
              <p class="card-text">desarrollador web y móvil.</p>
              <p class="card-text"><small class="text-muted">josh93delosangeles@gmail.com</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="...">
          <img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="...">
          </div>
      </div>

      <div class="card mb-3" >
        <div class="logo">
            <img id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body">
              <h4 class="card-title">Roberto Rodríguez</h4>
              <p class="card-text">desarrollador web y móvil.</p>
              <p class="card-text"><small class="text-muted">roberto@roberto</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
            <img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="...">
            <img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="...">
          </div>
      </div>

      <div class="card mb-3" >
        <div class="logo">
            <img id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body">
              <h4 class="card-title">David García.</h4>
              <p class="card-text">desarrollador web y móvil</p>
              <p class="card-text"><small class="text-muted">david@david</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="...">
          <img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="...">
          </div>
      </div>

      <div class="card mb-3" >
        <div class="logo">
            <img id="perro" src="../../../assets/img/perro.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="row g-0">
            <div class="col-md-8">
         
          
            <div class="card-body">
              <h4 class="card-title">Andrés Cedeño</h4>
              <p class="card-text">desarrollador web y móvil</p>
              <p class="card-text" id="email"><small class="text-muted">aandres@andres</small></p>
            </div>
          </div>
        </div>
        <div class="iconos">
          <img src="../../../assets/img/linkedin_101776.png" class="img-fluid rounded-start" alt="...">
          <img src="../../../assets/img/github_icon_155336.png" class="img-fluid rounded-start" alt="...">
          </div>
      </div>


</div>
