<ng-container class="contenedor">
    
      <div class="card" style="width: 18rem;">
        <div class="titulo">
                <div class="logo">
                    <img class="icono" src="../../../assets/img/usuario.png" alt="">
                </div>
                <div class="titulo-text"> 
                    <h5 class="card-title">Ruta por La Pedriza</h5>
                    <p class="creador">Carlos Torres</p>
                </div>
        </div>
        <div class="img-body">
        <img clas="foto" src="../../../assets/img/annie-spratt-Rau5V9rthDQ-unsplash.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">LLeva a tu lassie a dar una vuelta por (La Pedriza)</p>
        </div>
        <div class="button-body">
          <p class="fecha">12/06/2022</p>
          <a href="#" class="btn btn-primary">Editar actividad</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="titulo">
                <div class="logo">
                    <img class="icono" src="../../../assets/img/usuario.png" alt="">
                </div>
                <div class="titulo-text"> 
                    <h5 class="card-title">Entrenamiento canino de agilidad </h5>
                    <p class="creador">Carlos Torres</p>
                </div>
        </div>
        <div class="img-body">
        <img clas="foto" src="../../../assets/img/sebastian-coman-travel-5tEzJrY1WBI-unsplash.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">LLeva a tu lassie a entrenar en Agility</p>
        </div>
        <div class="button-body">
          <p class="fecha">12/06/2022</p>
          <a href="#" class="btn btn-primary">Editar actividad</a>
        </div>
      </div>
</ng-container>
