<div class="cardPadre">
    <div class="cards" *ngFor="let actCreada of actCreadas">
        <app-card-creadas-actividad [cardsPadre2]="actCreada"></app-card-creadas-actividad>
    </div>
</div>

<!-- <ng-container class="contenedor">
    
      <div class="card" style="width: 18rem;">
        <div class="titulo">
                <div class="logo">
                    <img class="icono" src="../../../assets/img/usuario.png" alt="">
                </div>
                <div class="titulo-text"> 
                    <h5 class="card-title">Ruta por La Pedriza</h5>
                    <p class="creador">Carlos Torres</p>
                </div>
        </div>
        <div class="img-body">
        <img clas="foto" src="../../../assets/img/annie-spratt-Rau5V9rthDQ-unsplash.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text">LLeva a tu lassie a dar una vuelta por (La Pedriza)</p>
        </div>
        <div class="button-body">
          <p class="fecha">12/06/2022</p>
          <a href="#" class="btn btn-primary">Editar actividad</a>
        </div>
      </div> 
      <!-- <mat-card class="card1"> 
        on-click=ir a la card nueva(actividad.id_actividad)
        <a class="botonCard" routerLink="/actividadCard">
           <div class="tituloPadre">
                <div class="actividadImagen">
                    <img class="tituloImagen" src="{{cardsPadre.imagen}}">
                </div>
                <div class="tituloTexto">
                    <div class="card__titulo">{{cardsPadre.titulo}}</div>
                    <div class="card__creador">Creador</div>
                </div>
            </div>
            <div class="imagen">
                <img mat-card-image src="{{cardsPadre.imagen}}">
            </div>
            <div class="tipo__lugar">
                <mat-card-content class="card__calle">🐕‍🦺 {{cardsPadre.titulo}}</mat-card-content>
                <mat-card-content class="card__calle">📍 {{cardsPadre.localizacion}}</mat-card-content>
            </div>
            <div class="fecha__disponible">
                <div class="card__fecha">
                    <mat-card-content class="card__fecha--date">📅 {{cardsPadre.fecha}}</mat-card-content>
                    <mat-card-content class="card__informacion">📲 Para más información</mat-card-content>
                </div>
                <div class="card__disponible">
              
                   <div class="disponible__numero">2</div>
                    <div class="texto__disponible">
                        <div class="texto__plazas">Plazas</div>
                        <div class="texto__plazas">Disponibles</div>
                     </div><div class="">Disponibles</div> 
                </div> 
            </div>
        </a>
    </mat-card>   -->
   
<!-- </ng-container>  -->
