<div class="card">
    <img src="{{card.imagen}}" alt="Imagen">
    <div class="card__texto">
        <div class="card__titulo">{{card.distrito}}</div>
        <div class="card__calle">📍 {{card.calle}}</div>
        <!-- <div class="card__calle--rating"> -->
            <div class="card__rating mb-2">
                <!-- <span>⭐⭐⭐⭐⭐</span> -->
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" on-click="rating(5)">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4" on-click="rating(4)">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3" on-click="rating(3)">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2" on-click="rating(2)">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1" on-click="rating(1)">
                        <label for="radio5">★</label>
                    </p>
                </form>
                <span class="fa fa-start" style="cursor: pointer;"></span>
            </div>
        <!-- </div> -->
        </div>
        <div class="card__informacion">
            <div class="card__datos">Datos de Interés:</div>
            <div class="card__datos--texto">Este pipican cuenta con las siguientes partes:</div>
        </div>
        <div class="card__informacion--pipicanes">
            <!-- <div class="pipicanes__distancia">🚶 Distancia: 150m</div> -->
            <div class="pipicanes__cesped">🌿 Zona de cesped</div>
            <div class="pipicanes__entrenamiento">🏋 Zona de entrenamiento</div>
            <div class="pipicanes__fuente">⛲ Fuente</div>
            <div class="pipicanes__varios">📖 Información que podamos hacer{{card.informacion}}</div>
    </div>
</div>
