<div class="contenedor">
   
      

            <div class="logoContainer">
        
                <img src="../../../assets/imgs/logo.png" alt="">
        
            </div>
        
            <div class="formContainer">
                
                <h1 class="title">
                    Regístrate
                </h1>
        
                <form id="form">
                   
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
                        <input type="text" class="form-control" id="correo" placeholder="Correo">
                        <input type="text" class="form-control" id="nPerros" placeholder="Nº de Perros">
                        <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        <input type="password" class="form-control" id="password2" placeholder="Repetir Contraseña">
                  
                    <button type="submit" class="btn mt-5">Sign In</button>
                </form>
        
            </div>
            
  
  
</div>
