*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.body{
width: 100%;
/* height: 100vh; */
display: flex;
flex-direction: column;
justify-content: flex-start;

font-family: 'Roboto', sans-serif;
}
.cabecera{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #FD6B5B;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
}
.listado{
    display: flex;
    flex-direction: column;
   
    
    width: 100%;
    
 
   

}
.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 4px;
    border-bottom:2px solid #ffff;
    
 
}
.fotocontacto{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 12px;

   
}
.foto{
    width: 65%;
    height: 80%;
   
}
ul{
    list-style: none;
}
.nombrechat{
    width: 70%;
    height: 100;
    font-size: large;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.nombre{
    width: 100%;
    height: 100%;
    text-align:start;
    padding-top: 18px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}