
<div class="body">
    <div class="cabecera">
        <h1>Mis Chats</h1>
    </div>
    <div class="listado">
        <ul>
            <li *ngFor="let nuevochat of chats">
                <a routerLink="/chats">
                <div class="chat"> 
                
                      <div class="fotocontacto">
                        <img class="foto" src="" alt="">
                    </div>
                    <div class="nombrechat">
                        <div class="nombre" >{{nuevochat.titulo}}</div>
                    </div>
               
                  
                </div>
            </a>
            </li>
        </ul>

    </div>

</div>
